# ingestion service
PORT=8080

# kafka
BROKERS="redpanda-0:9092"  # comma seperated list

# s3 bucket
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=secret
S3_BUCKET=my-bucket
S3_ENDPOINT="http://s3-storage:8333"

JWT_SECRET="secret"
