# ingestion service (naive node monolith)
PORT=8080

# s3 bucket
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=secret
S3_BUCKET=my-bucket
S3_ENDPOINT="http://s3-storage-node:8333"

JWT_SECRET="secret"
